# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Transpiled JavaScript (Production Build output)
dist/

# Environmental variables (Contains sensitive credentials)
.env
.env.local
.env.production

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/generated/prisma
